.Form-steps{

}
.multi-step-box{
    display: flex;
    align-items: center;
    color: #007bff;

}
.single-step-box{

}
.single-step-box span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    background-color: #007bff;
    color: #fff;
    font-size: 22px;
    box-shadow: 0 4px 6px 0px #00000075;
    outline: 1px solid #fff;
    background: linear-gradient(90deg, #007AFF 0%, #004999 100%);
}
body{
    /* color: #007bff; */
}

/* 
.col > div > div  {
    display: table;
    width: 43% !important;
    margin: unset !important;
    background-color: red; 
} */

.multi-step-box > div > div > div {
    padding-top: 0 !important;
}

.multi-step-box > div > div > div > div:nth-child(3) {
    top: 8px !important;
    width: unset !important;
    height: unset !important;
    padding: unset !important;
    border-width: 2px !important;
}
.multi-step-box > div > div > div:nth-child(2) > div:nth-child(4),
.multi-step-box > div > div > div:nth-child(3) > div:nth-child(4),
.multi-step-box > div > div > div:nth-child(4) > div:nth-child(4),
.multi-step-box > div > div > div:nth-child(5) > div:nth-child(4)  {
    top: 8px !important;
    width: unset !important;
    height: unset !important;
    padding: unset !important;
    border-width: 2px !important;
}
.multi-step-box > div > div > :nth-child(1) > div > div:nth-child(1) > a{
    display: none;
}

.multi-step-box > div > div > :nth-child(1) > div:nth-child(1) a,
.multi-step-box > div > div > :nth-child(2) > div:nth-child(1) span,
.multi-step-box > div > div > :nth-child(3) > div:nth-child(1) span,
.multi-step-box > div > div > :nth-child(4) > div:nth-child(1) span,
.multi-step-box > div > div > :nth-child(5) > div:nth-child(1) span,
.multi-step-box > div > div > :nth-child(6) > div:nth-child(1) span,
.multi-step-box > div > div > :nth-child(2) > div:nth-child(1) a,
.multi-step-box > div > div > :nth-child(3) > div:nth-child(1) a,
.multi-step-box > div > div > :nth-child(4) > div:nth-child(1) a,
.multi-step-box > div > div > :nth-child(5) > div:nth-child(1) a,
.multi-step-box > div > div > :nth-child(6) > div:nth-child(1) a{
    display: none;
}

.multi-step-box > div > div > :nth-child(1) > a,
.multi-step-box > div > div > :nth-child(2) > div:nth-child(2),
.multi-step-box > div > div > :nth-child(3) > div:nth-child(2),
.multi-step-box > div > div > :nth-child(4) > div:nth-child(2),
.multi-step-box > div > div > :nth-child(5) > div:nth-child(2),
.multi-step-box > div > div > :nth-child(6) > div:nth-child(2) {
    display: none !important;
}

.multi-step-box > div > div > :nth-child(1) > div,
.multi-step-box > div > div > :nth-child(2) > div,
.multi-step-box > div > div > :nth-child(3) > div,
.multi-step-box > div > div > :nth-child(4) > div,
.multi-step-box > div > div > :nth-child(5) > div,
.multi-step-box > div > div > :nth-child(6) > div {
    width: 12px !important;
    height: 12px !important;
    padding: 2px !important;
    box-sizing: content-box;
    background-color: rgb(124, 31, 31);
}
.multi-step-box > div > div > :nth-child(1) > div:nth-child(1){
    width: 12px !important;
    height: 12px !important;
    border: 1px solid #007bff !important;
    padding: 2px !important;
    box-sizing: content-box;
}
.multi-step-box > div > div > :nth-child(2) > a,
.multi-step-box > div > div > :nth-child(3) > a,
.multi-step-box > div > div > :nth-child(4) > a,
.multi-step-box > div > div > :nth-child(5) > a,
.multi-step-box > div > div > :nth-child(6) > a {
    display: none;
    margin: 0 !important;
}

.Form-steps {
    padding: 10px 0;
    top: 79px;
    background: #ffffff;
    /* color: #007bff; */
    box-shadow: 0 4px 6px 0px #00000029;
}


/* form card */

.Form-section-space {
    min-height: calc(100vh - 297px);
}

.jaf-card {
    box-shadow: 0 4px 6px 0px #00000029;
    border-color: #ebebeb;
    border-color: #38baeb4d;
}

.jaf-card input, .jaf-card select {
    text-transform: uppercase;
}
.jaf-card input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.jaf-card >.card-body {
    margin-bottom: -1rem !important;
}
.Form-next-prev {
    padding: 10px 0;
    bottom: 76px;
    background: #ffffff;
    box-shadow: 0 -4px 6px 0px #00000029;
}
.Form-next-prev button {
    background: linear-gradient(90deg, #007AFF 0%, #004999 100%);
    /* padding: 0.813rem .75rem; */
    border: 1px solid #007aff;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    transition: all ease .2s;
}
.Form-next-prev button.btn-previous svg {
    margin-right: 5px;
}
.Form-next-prev button.btn-next svg {
    margin-left: 5px;
}
.Form-next-prev button:hover {
    background: linear-gradient(270deg, #007AFF 0%, #004999 100%);
}

.jaf-card select,
.jaf-card input,
.jaf-card textarea {
    border-color: #38BAEB80 !important;       
}
.jaf-card select:hover,
.jaf-card input:hover,
.jaf-card textarea:hover,
.jaf-card select:focus,
.jaf-card input:focus,
.jaf-card textarea:focus {
    box-shadow: 0 4px 6px 0px #00000075;
}
.Application-section .Altcard:nth-child(even) {
    border-radius: 0.375rem;
    background: #38baeb4d;
    /* overflow: hidden; */
}
.Application-section .Altcardd:nth-child(odd) {
    border-radius: 0.375rem;
    background: #38baeb4d;
    /* overflow: hidden; */
}
.Application-section .Altcard:nth-child(even) > .card-body {
    /* background-color: #cdeffb; */
}
.delete-card {
    position: absolute;
    top: -19px;
    right: -9px;
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: #fbfbfb;
    border-radius: 100px;
    line-height: 15px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px 0px #00000029;
    transition: all ease .2s;
}
.delete-card svg {
    font-size: 36px;
    color: red;
}
.delete-card:hover {
    background-color: red;
}
.delete-card:hover svg {
    color: #fff;
}
.AddButton {
    border-radius: 100px;
    background: #28a745;
    border-color: #28a745;
    padding: 0.375rem .8rem 0.375rem .375rem;
    display: flex;
    align-items: center;
    transition: all ease .2s;
}
.AddButton svg {
    font-size: 25px;
    margin-right: 5px;
}
.AddButton:hover,
.AddButton:focus,
.AddButton:active{
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
    box-shadow: 0 4px 6px 0px #00000075;
}
.AddButton:disabled {
    background-color: #858585;
    border-color: #858585;
    cursor: not-allowed;
}
.msg-to-user {
    /* margin: 10px 0;s */
}
.final-submit-button {
    border-radius: 100px !important;
    background-image: linear-gradient(to right, #28a745, #259d41, #23923c, #208838, #1e7e34) !important;
    border-color: #28a745 !important;
    transition: all ease .2s;
}
.final-submit-button svg {
    margin-left: 5px;
}
.final-submit-button:hover {
    background-image: linear-gradient(to left, #28a745, #259d41, #23923c, #208838, #1e7e34) !important;
}


.editIcon,
.cancelIcon,
.saveIcon {
    /* display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 1000px;
    color: #fff;
    font-size: 19px;
    box-shadow: 0 4px 6px 0px #00000075;
    outline: 1px solid #fff;
    background: linear-gradient(90deg, #007AFF 0%, #004999 100%);
    text-align: center;
    padding: 0;
    line-height: 0;
    background: #38BAEB;
    border-color: #38BAEB; */
    border-radius: 1000px;
    line-height: 1.5;
    background: #38BAEB;
    border-color: #38BAEB;
    padding: 0.375rem 0.75rem;
    display: flex;
    align-items: center;
    font-size: 15px;
    height: 30px;
    margin-left: 5px;
}
.cancelIcon{
    /* background: red;
    border-color: red; */
    background-image: linear-gradient(to left, #f43333, #e62a29, #d8211e, #ca1614, #bc0808);
    border-color: #f43333 !important;
}
.saveIcon{
    /* background: #28a745 !important;
    border-color: #28a745 !important; */
    background-image: linear-gradient(to right, #28a745, #259d41, #23923c, #208838, #1e7e34);
    border-color: #28a745 !important;
}
.editIcon svg,
.cancelIcon svg,
.saveIcon svg {
    margin-left: 5px;
}
.cancelIcon:hover,
.saveIcon:hover{
    box-shadow: 0 4px 6px 0px #00000075;
    border-color: #ffffff73 !important;
}
.editIcon:hover {
    background: linear-gradient(270deg, #007AFF 0%, #004999 100%);
    background: #2d9ec9;
    border-color: #2d9ec9;
    /* box-shadow: 0 0px 0px 4px #38baeb; */
    box-shadow: 0 4px 6px 0px #00000075;
    border-color: #ffffff73;
}
.previewCard hr,
.jaf-card hr {
    border-color: #38baeb4d;
    border-color: #38BAEB80 !important;
    opacity: 1;
}
.previewCard .card-body {
    margin-bottom: 0 !important;
}
.previewCard input:disabled {
}
.previewCard input:disabled:hover{

}
.previewCard select:disabled:hover,
.previewCard input:disabled:hover,
.previewCard textarea:disabled:hover,
.previewCard select:disabled:focus,
.previewCard input:disabled:focus,
.previewCard textarea:disabled:focus{
    box-shadow: none;
}

@media only screen and (max-device-width : 767px) {
    .Form-section-space{
        text-align: center;
    }
    .jaf-card .form-floating {
        margin: 7px 0 !important;
    }
    .jaf-card div:last-of-type .form-floating{

    }
    .Application-section .AddButton {
        margin: 0 auto;
    }
    #floatingTextarea {
        height: 150px;
    }
    .FamilyDetail form .col,
    .Reference form .col {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media only screen and (max-device-width : 479px){
    .Form-next-prev{
        bottom: 101px;
    }
}