.form_box {
	width: 100%;
	max-width: 420px;
	padding: 15px;
	/* margin: auto; */
}

.FormDiv {
	text-align: center !important;
	/* margin-top: 30px; */
}

.Btn_Continue {
	/* width: 100%;
    height: 60px;
    background: linear-gradient(90deg, #007AFF 0%, #004999 100%); */

}


.Middle_screen {
	/* height: calc(100vh - 155px) !important;  */
}

.Middle_screen {
	height: calc(100vh - 155px) !important;
	height: 100%;
}

.Middle_screen_inner {
	min-height: calc(100vh - 297px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Middle_screen_inner h1 {
	font-size: 54px;
	line-height: 81px;
	color: #000;
	margin-bottom: 55px;
	margin-bottom: 20px;
}

.Middle_screen_inner form input {
	border: 1px solid #000;
	color: #000;
	border-radius: 6px;
}

.Middle_screen_inner form input:focus,
.Middle_screen_inner form input:hover {
	box-shadow: none;
	border-color: #007aff;
	box-shadow: 0 4px 6px 0px #00000075;
}

.Middle_screen_inner form button {
	background: linear-gradient(90deg, #007AFF 0%, #004999 100%);
	padding: 0.813rem .75rem;
	border: 1px solid #007aff;
}

.Middle_screen_inner form button:hover {
	/* box-shadow: 0 4px 6px 0px #00000075; */
	border: 1px solid #007aff;
	background: #007aff;
	/* color: #007aff; */
	background: linear-gradient(3deg, #007aff 0%, #004999 100%);
}
.Middle_screen_inner form button .spinner-border {
    width: 20px;
    height: 20px;
    border-width: 2px;
    vertical-align: middle;
    margin-left: 10px;
    /* display: none; */
}


.otp_box form>div:not(.d-grid) {
	display: flex;
	justify-content: center;
	margin-bottom: 1.5rem;
}

.otp_box form>div:not(.d-grid) input {
	width: 40px !important;
	height: 40px;
	margin: 0 5px;
	text-align: center;
	font-size: 1.2rem;
	border: 1px solid #000;
	border-radius: 4px;
	background-color: #fff;
	color: #000;
}


.Middle_screen_otp .otp_sent-to-mail {
	margin-bottom: 30px;
	font-size: 17px;
	color: #000;
	font-weight: 500;
	line-height: 25px;
}

.form-floating input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}




.Hr_form_box {
    min-width: 320px;
    max-width: 420px;
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
	.Middle_screen_inner h1 {
		font-size: 40px;
		margin-bottom: 15px;
		line-height: 40px;
		text-align: center;
	}
}

@media only screen and (min-device-width : 346px) and (max-device-width : 480px) {
	.Middle_screen {
		height: calc(100vh - 180px) !important;
	}

	.Middle_screen_inner h1 {
		font-size: 33px;
		margin-bottom: 15px;
		line-height: 40px;
		text-align: center;
	}
}

@media only screen and (min-device-width : 0px) and (max-device-width : 345px) {
	.Middle_screen_inner h1 {
		font-size: 28px;
		margin-bottom: 15px;
		line-height: 40px;
		text-align: center;
	}
}