.Hr_form_box {
    min-width: 320px;
    max-width: 420px;
}
.declaration-option {
    flex-grow: 1;
    flex-basis: 0;
    /* margin: 0 5px; */
    background: linear-gradient(90deg, #007AFF 0%, #004999 100%);
    border-radius: 6px;
    /* padding: 4px 0; */
}
.declaration-option:nth-child(2) {
    margin: 0 10px;
}
.declaration-option-box {
    /* margin-right: .5rem;
    padding-left: .5rem; */
	/* padding-top: 4px;
    padding-bottom: 4px; */
	padding-left: 0;
    margin-right: 0;
}
.declaration-option-box label{
	color: #fff;
	font-weight: 400;
	display: inline-block;
    width: 100%;
    text-align: left;
	padding: 4px 0;
	padding-left: .5rem;
    padding-right: .5rem;
}
.declaration-option-box .form-check-input[type=radio] {
    border-radius: 50%;
    border: 2px solid #fff;
	background: #c5c5c5;
    box-shadow: inset 0px 0px 3px -1px #00000082;
	margin-right: .5rem;
	margin-top: 2px;
}
.declaration-option-box .form-check-input[type=radio]:checked {
    border: 2px solid #fff;
	background: #004999;
}



.backButton {
    border-radius: 100px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
}

.Dashboard-section-space {
    min-height: calc(100vh - 185px);
}
.Dashboard-post {
    color: #606060;
    font-weight: 400;
}
.Dashboard-user-image {
    /* width: 40px; */
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background: #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
	background: linear-gradient(90deg, #007AFF 0%, #004999 100%);
}
.Dashboard-user-image button,
.Dashboard-user-image button:active, 
.Dashboard-user-image button:hover {
    background: linear-gradient(90deg, #007AFF 0%, #004999 100%) !important;
    border-color: #007aff !important;
}
.Dashboard-user-image .dropdown-menu.show {
    padding: 0;
}
.Dashboard-user-image .dropdown-item{
    /* background-color: red; */
    border-radius: 0.375rem;
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
}
.Dashboard-user-image .dropdown-item svg{
    color: red;
    font-size: 20px;
}
.Dashboard-user-image .dropdown-item:hover,
.Dashboard-user-image .dropdown-item:hover svg{
    background-color: red;
    color: #fff;
}

.Dashboard-user-image svg {
    font-size: 28px;
	color: #fff;
}
.block-box {
    border-radius: 6px;
    /* background: #ccc; */
	padding: 20px 15px;
	position: relative;
    height: 100%;
    border: 1px solid transparent;
}
.block-box-title {
    font-size: 1rem;
    font-weight: 500;
}
.block-box-value {
    font-size: 2rem;
    font-weight: 500;
    filter: drop-shadow(6px 4px 2px #0000004a);
}

.notstarted-block {
    background-color: #f4b3b9;
}
.progress-block {
    background-color: #DC9A0040;
}
.completed-block{
    background-color: #40997E40;
}
.notstarted-block .block-box-title {
    color: #CC1313;
}
.progress-block .block-box-title {
	color: #DC9A00;
}
.completed-block .block-box-title {
	color: #40997E;
}
.notstarted-block img,
.progress-block img,
.completed-block img{
	position: absolute;
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
	mix-blend-mode: multiply;
}
.feeling-block {
    background: linear-gradient(180deg, #0052B4 0%, #00244E 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #2a86f4;
}
.feeling-block .block-box-title {
    background: linear-gradient(90deg, #65A9FA 0%, #026EEF 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
}
.feeling-box {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 15px;
}
.feeling-box-single img {
	max-width: 45px;
	width: 100%;
    cursor: pointer;
    transition: all ease .2s;
}
.feeling-box-single img:hover {
    transform: scale(1.2);
}

.notstarted-block.BlockActive,
.notstarted-block:hover{
    border-color: #CC1313;
    box-shadow: 0 4px 6px 0px #00000029;
    border-style: dashed;
    box-shadow: 2px 5px 8px 2px #00000030;
}
.progress-block.BlockActive,
.progress-block:hover{
    border-color: #DC9A00;
    box-shadow: 0 4px 6px 0px #00000029;
    border-style: dashed;
    box-shadow: 2px 5px 8px 2px #00000030;
}
.completed-block.BlockActive,
.completed-block:hover{
    border-color: #40997E;
    box-shadow: 0 4px 6px 0px #00000029;
    border-style: dashed;
    box-shadow: 2px 5px 8px 2px #00000030;
}

tbody, td, tfoot, th, thead, tr{
    border-color: inherit;
    border-style: none;
    border-width: 0;
}
.customTable {
    background: transparent;

    --bs-table-bg: transparent;
    --bs-table-border-color: ;
    border-collapse: separate;

    border-spacing: 0 8px;
    /* border-spacing: 1vw;
    border-spacing: 2em; */
}
.customTable thead{

}
.customTable thead tr{
    border: 0px;
}
.customTable thead tr th{
    background: transparent;
    border: 0px;
    font-size: 15px;
    font-weight: 500;   
}
.Sorting {
    color: #57A2FC;
}
.customTable tbody tr{
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-color: transparent;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0px #00000029;
}
.customTable tbody tr td{
    background-color: #fff;
    font-size: 15px;
    font-weight: 400; 
    /* padding: 5px; */
    padding: .6rem .5rem;
}
.customTable tbody tr td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.customTable tbody tr td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.customTable tbody tr td:first-child {
    padding-left: 20px;
}

#border-separate:checked ~ table {
    border-collapse: separate;
  }
  
  #border-collapse:checked ~ table {
    border-collapse: collapse;
  }
  .StatusTag {
    background: #ffffff;
    padding: 4px 10px;
    border-radius: 5px;
    min-width: 110px;
    display: inline-block;
    text-align: center;
}
.notStartedTag {
    color: #CC1313;
    background: #E7BDC3;
    font-size: 13px;
}
.ProgressTag {
    color: #DC9A00;
    background: #e6dfbf;
    font-size: 13px;
}
.CompletedTag {
    color: #40997E;
    background: #b9dcdf;
    font-size: 13px;
}
.EditCell {
    line-height: 18px;
}
.EditCell span{
    background: #F2EAFF;
    width: 25px;
    display: inline-block;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #8147E7;
    box-shadow: 0 4px 6px 0px #00000029;
    cursor: pointer;
}
.EditCell svg {
    color: #8147E7;
}
.EditCell span:hover {
    background: #8147e7;
}
.EditCell span:hover svg{
    color: #fff;
}
.SearchBox {
    max-width: 300px;
}
.SearchBox .input-group-prepend button {
    border-radius: 0px;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
    /* line-height: 23px; */
    display: flex;
    vertical-align: middle;
    height: 100%;
    align-items: center;
    border: 1px solid #B1AFC8;
    color: #B1AFC8;
    border-color: #956fb3 !important;
    color: #956fb3;
}

.SearchBox .input-group-prepend button:hover {
    background-color: #eaddff;
}
.SearchBox input{
    border: 1px solid #B1AFC8 !important;
    border-color: #956fb3 !important;
}
.appDate {
    margin-left: 1rem;
}
.appDate input {
    color: #8147E7;
    color: #956fb3;
    background: #EADDFF;
    border-color: #956fb3 !important;
}
::-webkit-calendar-picker-indicator {
    /* filter: invert(1); */
    /* filter: invert(90) sepia(50) saturate(90) hue-rotate(240deg); */
    /* filter: invert(29%) sepia(100%) saturate(192%) hue-rotate(230deg); */
    filter: invert(40%) sepia(100%) saturate(192%) hue-rotate(230deg);
    color: 8147E7;
}
.pagination .page-link {
    border-color: #8147E7;
    color: #8147E7;
    height: 38px;
}
.pagination .page-item.active .page-link {
    background-color: #8147E7;
    color: #fff;
}
.pagination .page-link:hover {
    background-color: #956fb3 ;
    color: #fff;
}
.PageArrow span {
    font-size: 26px;
    line-height: 18px;
}





.candidate-titile {
    margin: 0;
    line-height: 30px;
}
.candidate-titile span {
    background-color: #DFDFDF80;
    padding: 4px 15px;
    border-radius: 4px;
}
.ops-client-btn button {
    border-radius: 100px;
    min-width: 85px;
}
.client-btn {
    margin-left: 10px;
}
.ops-client-btn button:hover,
.ops-client-btn button.active {
    background: linear-gradient(90deg, #007AFF 0%, #004999 100%) !important;
}
.CompetenciesRow h5 {
    color: #007AFF;
    margin: 0;
    line-height: 30px;
}
.CompetenciesRow .list-group-item {
    border: none;
    background: none;
    /* padding: 0; */
}
.CompetenciesRow .list-group-item p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
.CompetenciesRow .list-group-item p.Poor {
    color: #D80027;
}
.CompetenciesRow .list-group-item p.Average {
    color: #F58A45;
}
.CompetenciesRow .list-group-item p.Good {
    color: #A16BFF;
}
.CompetenciesRow .list-group-item p.VGood {
    color: #0052B4;
}
.CompetenciesRow .list-group-item p.Excellent {
    color: #2BB25C;
}
.MarkingRowLeftSingle {
    padding: 12px 5px;
    background: #fff;
    border-radius: 5px;
}
.MarkingRowLeftSingle:hover{
    box-shadow: 0 4px 6px 0px #00000029;
}
.MarkingRowLeftRadio .form-check-inline {
    margin-right: 0px;
    margin-left: 3rem;
    /* margin: 0 20px; */
}
.MarkingRowLeftRadio .form-check-inline:first-child {
    margin: 0;
}
.MarkingRowLeftRadio .form-check-inline input {
    border-color: #0052B4;
}
.MarkingRowRight textarea {
    background: #EEEEFF;
    border: 1px solid #000;
    border-color: #956fb3 !important;
    font-size: 14px;
}
.MarkingRowLeftSingle p {
    font-size: 14px;
}
.GraduationYes,
.FlexibleYes{
    color: #2BB25C;
}
.GraduationNo,
.FlexibleNo{
    color: #D80027;
}
.GraduationYes label, 
.FlexibleYes label,
.GraduationNo label,
.FlexibleNo label {
    font-size: 14px;
    font-weight: 600;
}
.nextButton {
    background: linear-gradient(90deg, #007AFF 0%, #004999 100%);
    /* padding: 0.813rem .75rem; */
    border: 1px solid #007aff !important;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    transition: all ease .2s;
}
.nextButton svg{
    margin-left: 5px;
}
.nextButton:hover {
    background: linear-gradient(270deg, #007AFF 0%, #004999 100%);
}