.Hr_form_box {
    min-width: 320px;
    max-width: 420px;
}
.declaration-option {
    flex-grow: 1;
    flex-basis: 0;
    /* margin: 0 5px; */
    background: linear-gradient(90deg, #007AFF 0%, #004999 100%);
    border-radius: 6px;
    /* padding: 4px 0; */
}
.declaration-option:nth-child(2) {
    margin: 0 10px;
}
.declaration-option-box {
    /* margin-right: .5rem;
    padding-left: .5rem; */
	/* padding-top: 4px;
    padding-bottom: 4px; */
	padding-left: 0;
    margin-right: 0;
}
.declaration-option-box label{
	color: #fff;
	font-weight: 400;
	display: inline-block;
    width: 100%;
    text-align: left;
	padding: 4px 0;
	padding-left: .5rem;
    padding-right: .5rem;
}
.declaration-option-box .form-check-input[type=radio] {
    border-radius: 50%;
    border: 2px solid #fff;
	background: #c5c5c5;
    box-shadow: inset 0px 0px 3px -1px #00000082;
	margin-right: .5rem;
	margin-top: 2px;
}
.declaration-option-box .form-check-input[type=radio]:checked {
    border: 2px solid #fff;
	background: #004999;
}


.Dashboard-section-space {
    min-height: calc(100vh - 155px);
}